<div class='container-fluid'>
	<% current_user.categories.each_slice(2) do |categories| %>
 		<div class = 'row col-xs-12'>
	 		<% categories.each do |category| %>
	   			<div class='cat-box col-sm-6 col-xs-12'>
	   				
	   					<button class='btn btn-info col-xs-12 list-button' type = 'button' data-toggle = "collapse" data-target = "<%= "#list#{category.id}" %>">
  						<span class='link-header'><%= category.name %></span><span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
  						</button>
  						<div class="clear"></div>
		    		<div class='collapse well' id='list<%= category.id %>'>
		    			<ul class='link-list' >
			   				<% category.links.each do |link| %>
			  					<li class='col-sm-6 col-xs-6 link text-center'>
			  						<div class='col-sm-9 col-xs-9'>
			  							<%= link_to link.name, link.url, :target => link.window, :class => 'link' %>
			  						</div>
			  						<div class='edit-controls pull-right'>
											<%= link_to link_path(link), :class => "btn btn-info btn-xs edit-button", :method => :update  do %>
									    	<i class="glyphicon glyphicon-pencil"></i>
											<% end %>
											<%= link_to link_path(link), :class => "btn btn-danger btn-xs edit-button", :method => :delete, :data => {:confirm => 'Are you sure you want to delete this?'} do %>
									    	<i class="glyphicon glyphicon-trash"></i>
											<% end %>
										</div>
		  						</li>

			  				<% end %>
		  				</ul>
		  			</div>
		 		</div>  	
			<% end %>
		</div>
		<div class = 'clear'></div>
	<% end %>


</div> 

